// 定义一些主题色，以及媒体查询

$theme-color: #00b38a;
$font-white: #fff;
$font-black: rgb(29, 29, 31);
$font-gray: #ededed;
$font-time: rgb(188 188 193);


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    letter-spacing: 0em;
    background-color: $font-gray;
    display: flex;
    justify-content: center;

    @media print {
        @page {
            size: A4
        }
    }
}




.container {
    margin-top: 40px;

    @media print {
        margin-top: 0px;
    }

    .export-btn {
        background-color: $theme-color;
        color: $font-white;
        padding: 10px;
        position: fixed;
        bottom: 0;
        right: 0;
        font-size: 12px;
        border-radius: 4px;

        @media screen and (max-width:720px) {
            display: none;
        }

        @media print {
            display: none;
        }
    }

    .section {
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.15);
        background-color: $font-white;
        width: 794px;
        border-radius: 0px 0px 6px 6px;
        transition: all 0.2s ease-in-out;
        animation: fadeUp 2s cubic-bezier(0.19, 1, 0.22, 1);

        @media print {
            box-shadow: none;
            border-radius: 0px;
        }

        @keyframes fadeUp {
            from {
                opacity: 0;
                transform: translate3d(0, 50px, 0);
            }

            to {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }

        .header {
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            background-color: $theme-color;
            color: $font-white;
            padding: 18px 24px 10px;
            border-radius: 6px 6px 0px 0px;

            @media print {
                background-color: $font-white;
                color: $font-black;
                border-radius: 0px;
                padding: 18px 24px 0px;

            }

            .title {
                display: flex;
                border-bottom: 1px solid $font-white ;
                justify-content: space-between;
                align-items: center;

                @media print {
                    border-bottom: 2px solid $theme-color ;
                }

                @media screen and (max-width:720px) {
                    flex-direction: column;
                    justify-content: flex-start;
                }

                .name {
                    font-size: 54px;
                    font-weight: 300;

                    @media screen and (max-width:720px) {
                        font-size: 34px;
                    }

                }

                .job {
                    margin-top: 21px;
                    font-size: 24px;

                    @media screen and (max-width:720px) {
                        font-size: 18px;
                        margin: 10px 0px;
                    }
                }
            }

            .user-info {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                font-size: 15px;
                line-height: 20px;

                @media screen and (max-width:720px) {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 14px;
                }

                .left-info {}

                .right-info {
                    @media screen and (max-width:720px) {
                        display: none;
                    }
                }
            }
        }

        .content {
            display: grid;
            padding: 0px 24px 0px;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, 50%);
            grid-gap: 10px;

            @media screen and (max-width:720px) {
                grid-template-columns: auto;
                grid-template-rows: auto;
            }

            .experience {
                display: flex;
                flex-direction: column;

                .title-box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;

                    .title-name {
                        color: $font-black;
                        font-size: 16px;
                        font-weight: 700;
                        margin: 0px 40px;
                    }

                    .line {
                        height: 2px;
                        background-color: $font-gray;
                        flex-grow: 1;
                    }
                }

                .work-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;

                    .work-box {
                        display: flex;
                        flex-direction: column;

                        .work-title {
                            font-size: 14px;
                            line-height: 16px;
                            font-weight: bolder;
                        }

                        .time {
                            font-size: 12px;
                            color: $font-time;
                        }

                    }

                    .tag {
                        border: 1px solid $theme-color;
                        color: $theme-color;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 12px;
                        padding: 3px 10px;

                        &:hover {
                            background-color: $theme-color;
                            color: $font-white;
                        }

                        @media print {
                            margin-right: 5px;
                        }
                    }

                    .work-bottom {
                        margin-bottom: 10px;
                    }
                }

                .detail {
                    margin-bottom: 10px;

                    .detail-box {
                        display: flex;
                        flex-direction: column;

                        .detail-title {
                            font-size: 14px;
                            margin-bottom: 6px;
                        }

                        .desc {
                            display: flex;
                            flex-direction: column;

                            .desc-box {
                                display: flex;
                                font-size: 14px;
                                margin-bottom: 6px;
                            }
                        }
                    }
                }
            }
        }
    }

}